<html>

  <head>
    <title>OT-2 Protocol Builder</title>
  </head>

  <body>
    <div style="margin: 2em;">
      <h1>OT-2 Protocol Builder</h1>
      <a href="/runs">Back</a>
      <h3>Run ID: {{ run.uuid }}</h3>
      <h3>Protocol: {{ run.protocol }}</h3>
      <div style="margin: 2em 0;">
        <form action="/runs/{{ run.uuid }}/download" method="POST">
          {%- for resource, properties in local.items() -%}
          {% for property, spec in properties.items() %}
          <div style="margin: 1em 0;">
            <label for="{{ resource }}.{{ property }}">{{ resource }} {{ property }}</label>
            <select name="{{ resource }}.{{ property }}" id="{{ resource }}.{{ property }}">
            {% if spec.type == "location" %}
              {% for i in range(1, 13) -%}
              <option value="{{ i }}"{% if run.spec.get(resource, {}).get(property) == i %} selected{% endif -%}>
                {{ i }}
              </option>
              {% endfor -%}
            {% elif spec.type == "labware" %}
              <option value="corning_96_wellplate_360ul_flat"{% if run.spec.get(resource, {}).get(property) == "corning_96_wellplate_360ul_flat" %} selected{% endif -%}>
                corning_96_wellplate_360ul_flat
              </option>
              <option value="opentrons_96_tiprack_300ul"{% if run.spec.get(resource, {}).get(property) == "opentrons_96_tiprack_300ul" %} selected{% endif -%}>
                opentrons_96_tiprack_300ul
              </option>
              <option value="usascientific_12_reservoir_22ml"{% if run.spec.get(resource, {}).get(property) == "usascientific_12_reservoir_22ml" %} selected{% endif -%}>
                usascientific_12_reservoir_22ml
              </option>
            {% elif spec.type == "instrument" %}
              <option value="p300_single"{% if run.spec.get(resource, {}).get(property) == "p300_single" %} selected{% endif -%}>
                p300_single
              </option>
              <option value="p300_multi"{% if run.spec.get(resource, {}).get(property) == "p300_multi" %} selected{% endif -%}>
                p300_multi
              </option>
            {% elif spec.type == "mount" %}
              <option value="left"{% if run.spec.get(resource, {}).get(property) == "left" %} selected{% endif -%}>
                left
              </option>
              <option value="right"{% if run.spec.get(resource, {}).get(property) == "right" %} selected{% endif -%}>
                right
              </option>
            {% endif  %}
            </select>
          </div>
          {%- endfor -%}
          {% endfor %}
          <div style="margin: 2em 0;">
            <input type="submit" value="Download">
            <input type="submit" formaction="/runs/{{ run.uuid }}/simulate" value="Simulate">
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
